# Node.js frontend dependencies
frontend/node_modules/

# React build files
frontend/build/

# Flask backend
backend/venv/
backend/__pycache__/
backend/uploads/

# Python bytecode
*.pyc

# IDE-specific files (if any)
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
